<%= turbo_stream_from current_company, "bids" %>

<main class="container">
  <div class="header">
    <h1>Bids</h1>
    <%= link_to "New bid", new_bid_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Bid.new) } %>
  </div>

  <%= turbo_frame_tag Bid.new %>
  <%= turbo_frame_tag "bids" do %>
    <%= render "bids/empty_state" %>
    <%= render @bids %>
  <% end %>
</main>