<main class="container">
  <% if current_user.profile_complete? %>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
      <div class="col-8">
        <%= turbo_frame_tag current_user do %>
          <div class= "d-flex mb-3">
            <h2 class="flex-grow-1">Your Profile</h2>
            <%= link_to [:edit, current_user],
                        class: "btn btn-secondary" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </div>
          <% @user_presenter.details.each do |k,v|%>
            <div class="bid d-block">
              <p class="text-secondary mb-1"><%= k %></p>
              <b><%= v %></b>
            </div>
          <% end %>
        <% end %>   
      </div>
      <div class="col-4">
        <img class="me-4 rounded" src="https://api.lorem.space/image/face?w=260&h=260" />
      </div>
    <div>
  <% else %>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
      <div class = "col-8">
        <%= turbo_frame_tag current_user do %>
          <%= simple_form_for current_user, method: :put do |f| %>
            <div>
              Please complete your profile.
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%=current_user.profile_complete.to_s + '%' %>" aria-valuenow="<%=current_user.profile_complete%>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="mt-2">
              <%= render "users/#{current_user.missing_profile_section}", f: f %>
            </div>
            <%= f.submit :save, class: "btn btn-success mt-3" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <img class="me-4 rounded" src="https://api.lorem.space/image/face?w=260&h=260" />
      </div>
    </div>
  <% end %>
</main>