<main class="container shadow-lg p-3 mb-5 bg-body rounded">
  <h2 class="text-center">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form line-item line-item--form justify-content-center"}, data: {controller: "formvalidator", target: "formvalidator.form", action: "submit->formvalidator#submitForm"}) do |f| %>
  
    <div class = "row">
      <div class="col-12 mb-2">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>
       <div class="col-12 mb-2">
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="col-12 text-center">
        <%= f.button :submit, "Log in", class: "btn btn-success" %>
      </div>
    </div>
  
  <% end %>

  <%= render "devise/shared/links" %>
</main>