<%= turbo_frame_tag line_item do %>
  <div class="line-item">
    <div class="line-item__name">
      <%= line_item.name %>
      <div class="line-item__description" data-controller="clipboard" data-clipboard-supported-class="clipboard--supported" >
        <i class="bi bi-clipboard text-primary clipboard-button" data-action="click->clipboard#copy"></i>
        <p data-clipboard-target="source" value="abc"><%= line_item.description %></p>
      </div>
    </div>
    <div class="line-item__quantity-price">
      <%= line_item.quantity %>
      &times;
      <%= number_to_currency line_item.unit_price %>
    </div>
    <div class="line-item__quantity">
      <%= line_item.quantity %>
    </div>
    <div class="line-item__price">
      <%= number_to_currency line_item.unit_price %>
    </div>
    <div class="line-item__actions">
      <%= button_to [bid, line_item_date, line_item],
                    method: :delete,
                    class: "btn btn-danger" do %>
        <i class="bi bi-trash"></i>
      <% end %>
      <%= link_to [:edit, bid, line_item_date, line_item],
                  class: "btn btn-secondary" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
    </div>
  </div>
<% end %>